

/* .reset-head{

 
 margin-top: 100px;
 padding-top: 10px;


}

.h2-basic{
  position: fixed;
  top : 100px
}

.btn-design{

  margin-top: 30px;
} */


.reset-password-container {
  padding: 60px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.h2-basic {
  font-size: 2rem; /* Adjust as needed */
  margin-bottom: 20px;
}

.form-design {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.btn-design {
  width: 50%;
  font-size: 20px;
  padding: 15px;
  margin-left: 150px;
}

.text-center {
  text-align: center;
}

.input-set{
 height: 50px;

  margin-top: 10px;
  margin-bottom: 30px;
}

.reset-col{

  width: 100%;

}

.reset-container{
 
  justify-content: center;
  align-items: center;
}