/* 
.hr-design{

  padding: 3px;
    margin: 14px;
    background-color: #fff;
    width: 83%;
    margin-left: 48px;
} */

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-icon1 {
  background: white;
  margin-left: 10px;
  margin-top: 20px;
  width: 90%;
  height: 10px; 
  border-radius: 10px;/* Adjust height as needed */
  display: inline-block; /* Ensure the element respects width and height */
  text-align: center; /* Center align the icon */
  line-height: 50px; /* Adjust to match height for vertical centering */
  font-size: 24px; /* Adjust font size as needed */
}

.custom-icon2 {
  background: white;
  margin-left: 10px;
  margin-top: 10px;
  width: 75%;
  height: 10px; 
  border-radius: 10px;/* Adjust height as needed */
  display: inline-block; /* Ensure the element respects width and height */
  text-align: center; /* Center align the icon */
  line-height: 50px; /* Adjust to match height for vertical centering */
  font-size: 24px; /* Adjust font size as needed */
}

.custom-icon3 {
  background: white;
  margin-left: 10px;
  margin-top: 10px;
  width: 65%;
  height: 10px; 
  border-radius: 10px;/* Adjust height as needed */
  display: inline-block; /* Ensure the element respects width and height */
  text-align: center; /* Center align the icon */
  line-height: 70px; /* Adjust to match height for vertical centering */
  font-size: 24px; /* Adjust font size as needed */
}

.parnt{
  margin-top: 120px;
}

.formBasicInput{
  padding: 8px 20px;
 margin-right: 20px ;
  margin-top: 10px;
  
}
.formBasicText1{

margin-left: 70px;
color:  rgb(36, 1, 24);
font-size:  20px;
}


.formBasicText2{
margin-left: 60px;
  margin-top: 20px;
  color:  rgb(24, 22, 23);
  
}
.btn-login{
  margin-top: 60px;
  padding: 10px 40px 10px 20px;
  width: 50%;
  margin-left: 150px;
  background-color:  rgb(25, 24, 24);
}


.forget-design {

  margin-top: 10px;
  text-decoration: none;
  margin-left: 120px;
  font-size: 20px;

   
  ;

}

.forget-design:hover{
  color: red;
}
/* 
.link-design1{
   
  margin-bottom: 40px;
  
} */

.link-style{
 
  margin-left: 200px;
  
  color:  rgb(7, 19, 245);
}


