/* src/AddTransactionForm.css */
.form-fetchContainer {

  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  margin-left: 350px;
  width: 70%;
  justify-content: center;
  text-align: center;


}

.form-header {
  display: flex;
  width: 60%;
  max-width: 600px;
  justify-content:center;
  margin-bottom: 5px;
  
}

.form-header span {
  flex: 1;
  text-align: center;
  font-weight: bold;
justify-content: space-between;
margin-right: 280px;

}

.transaction-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px;
  /* border: 1px solid black; */
  padding: 5px;
  margin-right: 350px;
position: absolute;
  bottom: 160px;
left : "30px"
  

}

.transaction-form input[type="Date"],
.transaction-form input[type="text"],
.transaction-form input[type="number"] {
  flex: 1;
  border: 1px solid black;
  padding: 10px;

  /* padding: px 80px; */
  
 


}

.transaction-form button {

  color: white;
  border: none;
  padding: 11px 40px;
  cursor: pointer;
}

.transaction-form button:hover {
  background-color:rgb(0, 255, 136);
}

.response {
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
}

.head-cash{
  position: relative;
  bottom: 150px;
  right: 200px;
  
  
}

.design-ui{

  /* border: 2px solid black; */
  padding: 10px;
  border-radius: 20px;
  
}

.expense-list{
  background-color: white;
  width: 50%;
  justify-content: center;
  text-align: center;
 

}
.design-li {
  border: 2px solid rgb(13, 17, 225);
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  
  margin-bottom: 10px;
  background-color: #f8f9fa;
}


.head-h1{

  margin-left: 350px;
}

.container-Modal{


  justify-content: center;
  align-items: center;




}


.parnt-div{

  display: flex;
  
}

.cld-1{
  width: 33%;
  margin-left: 100px;
}
.cld-2{
  width: 33%;
}

.cld-3{
  width: 33%;
}

.page-item {

  margin-top: 400px;
}