
.card{
  flex : 1;
  border-radius: 15px;
  background: #eee;
  padding: 20px;
  flex-direction: column;
  width: 300px;
  margin-left: 180px;
  margin-top: 40px;
}

.card--body{
  display: flex;
  justify-content: space-between;
}

.amount{
  font-weight: bolder;
  font-size: 30px;
  margin-right: 230px;
}

.les-mor{

  margin-right: 200px;

}
.les-mor p{

margin-top: 30px;
}

.pre-month{
  display: flex;
  justify-content: space-between;
}